<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/user/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.UserManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/userManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sectionServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.SectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sectionServlet</servlet-name>
    <url-pattern>/section</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>topicServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.TopicManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>topicServlet</servlet-name>
    <url-pattern>/topic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>issueTopicServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.IssueTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issueTopicServlet</servlet-name>
    <url-pattern>/issueTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>replyServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.ReplyManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replyServlet</servlet-name>
    <url-pattern>/reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>issuereplyServlet</servlet-name>
    <servlet-class>cn.com.qst.servlet.IssueReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issuereplyServlet</servlet-name>
    <url-pattern>/issueReply</url-pattern>
  </servlet-mapping>
</web-app>